.about_theme{
    background-color: lightcyan;
}

.email_me_theme{
    background-color: white;
    color: black;
    margin: 0;
}

.social_board{
    background-color: black;
    color: white;
}

.dh_connection{
    background-color: black;
    color: white;
}

.stepsto{
    max-width: 100%;
}